.page-header.navbar .page-logo .logo-default {
    margin: 0;
}
.page-header.navbar .page-logo .logo-default {
  max-width: 68px;
}
.page-header.navbar .page-logo {
    background: #0e1116;
}
.mt-widget-1 .mt-img {
  margin: 0 0 30px;
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm {
  font-size: 16px;
}
.mt-widget-2 .mt-head .mt-head-user .mt-head-user-info .mt-user-name,
.mt-widget-2 .mt-head .mt-head-user .mt-head-user-info .mt-user-time {
  background-color: #00000075;
}
.mt-widget-1 .mt-img>img {
      width: 80px;
      height: 80px;
}
.table.table-light>tbody>tr>td .user-pic {
  width: 30px;
  height: 30px;
}
.vogel.user-pic {
  width: 36px;
  height: 36px;
}
.flexrow {
  display: flex;
  flex-wrap: wrap;
}
