.page-header.navbar .page-logo .logo-default {
    margin: 0;
}
.page-header.navbar .page-logo .logo-default {
  max-width: 68px;
}
.page-header.navbar .page-logo {
    background: #0e1116;
}
.mt-widget-1 .mt-img {
  margin: 0 0 30px;
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm {
  font-size: 16px;
}
